{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-fluid register-bg">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-md-4 register-form-container">
                <div class="card rounded-3 border-0 shadow">
                    <div class="card-body">
                        <h1 class="text-center">Register</h1>
                        {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-purple-moon btn-rounded border-0">Register</button>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
