{% extends 'base.html.twig' %}

{% block title %}{% trans %}website_details_title{% endtrans %} - {{ website.getUrl }}{% endblock %}

{% block body %}
    {% set channel_icons = ['fa-brands fa-telegram', 'fa-brands fa-discord'] %}
    {% set channel_toggle_token = csrf_token('website-toggle-notifier-channel') %}
    {% include('dashboard/_sidebar.html.twig') %}
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        {% include('dashboard/_navbar.html.twig') %}
        <div class="p-4">
            <h3>{% trans %}website_details_title{% endtrans %}</h3>
            {% include('dashboard/_flash_messages.html.twig') %}
            <div class="pt-3">
                <div class="d-flex mb-3">
                    <a href="{{ path('app_website_edit', {id: website.getId}) }}" class="btn btn-primary ms-auto" style="width: 6rem;">{% trans %}edit{% endtrans %}</a>
                    <button class="btn btn-danger ms-2" style="width: 6rem;" data-bs-toggle="modal" data-bs-target="#delete-website-modal">{% trans %}delete{% endtrans %}</button>
                </div>
                <div class="row row-cols-md-2 row-cols-xxl-4 row-cols-xl-2">
                    <div class="col-md">
                        <div class="card bg-white border-0 mb-3 shadow-sm">
                            <div class="card-body ps-4">
                                <h6 class="card-title">{% trans %}uptime_24h{% endtrans %}</h6>
                                <p class="card-text uptime">
                                    <i class="fa-solid fa-circle-up icon-green"></i>
                                    <span class="uptime-number ps-3">{{ statistics_provider.getUptime24H(website) }}%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-white border-0 mb-3 shadow-sm">
                            <div class="card-body ps-4">
                                <h6 class="card-title">{% trans %}uptime_30d{% endtrans %}</h6>
                                <p class="card-text uptime">
                                    <i class="fa-solid fa-circle-up icon-yellow"></i>
                                    <span class="uptime-number ps-3">{{ statistics_provider.getUptime30D(website) }}%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-white border-0 mb-3 shadow-sm">
                            <div class="card-body ps-4">
                                <h6 class="card-title">{% trans %}number_of_incidents{% endtrans %}</h6>
                                <p class="card-text uptime">
                                    {% if website.getDowntimeLogs.count() > 0 %}
                                        <i class="fa-solid fa-circle-xmark icon-red"></i>
                                    {% else %}
                                        <i class="fa-solid fa-circle-check icon-green"></i>
                                    {% endif %}
                                    <span class="uptime-number ps-3">{{ website.getDowntimeLogs.count() }}</span>
                                    {% if website.getDowntimeLogs.count() > 0 %}
                                        <a class="text-dark text-decoration-none" href="{{ path('app_website_incidents', {id: website.getId}) }}">({% trans %}show_details{% endtrans %})</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-white border-0 mb-3 shadow-sm">
                            <div class="card-body ps-4">
                                <h6 class="card-title">{% trans %}average_response_time_24h{% endtrans %}</h6>
                                <p class="card-text uptime">
                                    <span class="uptime-number">
                                    {% if average_response_time_24h > 1000 %}
                                        {{ average_response_time_24h/1000 }} s
                                    {% else %}
                                        {{ average_response_time_24h }} ms
                                    {% endif %}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="row p-1">
                        <div class="col-lg-4 col-xl-3 bg-white shadow-sm p-0">
                            <div class="p-1 text-center">
                                <h6 class="pt-1">{% trans %}website_channels_list{% endtrans %}</h6>
                            </div>
                            <ul class="list-group website-channel-list">
                                {% for channel in app.user.notifierChannels.getIterator %}
                                    {% if website.hasNotifierChannel(channel.id) %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span>
                                                <i class="text-success {{ (channel_icons[channel.type] is defined) ? channel_icons[channel.type] : '' }}"></i>
                                                {{ channel.name }}
                                            </span>
                                            <a href="{{ path('app_website_toggle_notifier_channel', {'websiteId': website.id, 'channelId': channel.id, 'token': channel_toggle_token|url_encode }) }}" id="channel_toggle_{{ channel.id }}" class="btn btn-secondary" style="width: 80px;">disable</a>
                                        </li>
                                    {% else %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span class="opacity-50">
                                                <i class="text-secondary {{ (channel_icons[channel.type] is defined) ? channel_icons[channel.type] : '' }}"></i>
                                                {{ channel.name }}
                                            </span>
                                            <a href="{{ path('app_website_toggle_notifier_channel', {'websiteId': website.id, 'channelId': channel.id, 'token': channel_toggle_token|url_encode }) }}" id="channel_toggle_{{ channel.id }}" class="btn btn-success" style="width: 80px;">enable</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-website-modal" tabindex="-1" aria-labelledby="delete-website-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete-website-modal-label">{% trans %}delete_website_modal_title{% endtrans %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
