{% extends 'base.html.twig' %}

{% block title %}{% trans %}websites_title{% endtrans %}{% endblock %}

{% block body %}
    {% include('dashboard/_sidebar.html.twig') %}
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        {% include('dashboard/_navbar.html.twig') %}
        <div class="p-4">
            <h3>{% trans %}websites_title{% endtrans %}</h3>
            {% include('dashboard/_flash_messages.html.twig') %}
            {% if websites.count >= app.user.quota %}
                <button class="btn btn-secondary mb-3" style="width: 6rem;" disabled>{% trans %}add{% endtrans %}</button>
                <div class="alert alert-warning">{% trans %}exceeded_quota_message{% endtrans %}</div>
            {% else %}
                <a href="{{ path('app_website_add') }}" class="btn btn-success mb-3" style="width: 6rem;">{% trans %}add{% endtrans %}</a>
            {% endif %}
            {% if websites.count == 0 %}
                <div class="alert alert-warning border border-warning">{% trans %}empty_website_list_message{% endtrans %}</div>
            {% else %}
                <div class="pt-3">
                    <div class="md-12 bg-white p-3 shadow-sm">
                        <div class="table-responsive">
                            <table class="table table-hover websites-list">
                                <thead>
                                <tr>
                                    <th scope="col">{% trans %}url{% endtrans %}</th>
                                    <th scope="col">{% trans %}status{% endtrans %}</th>
                                    <th scope="col">{% trans %}last_status{% endtrans %}</th>
                                    <th scope="col">{% trans %}last_check{% endtrans %}</th>
                                    <th scope="col">{% trans %}ssl_expire_time{% endtrans %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for website in websites %}
                                    <tr data-url="{{ path('app_website_details', {id: website.getId}) }}">
                                        <td>
                                            <a href="{{ path('app_website_details', {id: website.getId}) }}" class="text-dark">
                                                {{ website.getUrl }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if website.isEnabled == true %}
                                                <span class="badge text-bg-success">{% trans %}enabled{% endtrans %}</span>
                                            {% else %}
                                                <span class="badge text-bg-secondary">{% trans %}disabled{% endtrans %}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if website.getLastStatus == constant('STATUS_OK', website) %}
                                                <span class="badge text-bg-success">Ok</span>
                                            {% else %}
                                                <span class="badge text-bg-danger">{% trans %}error{% endtrans %}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if website.getLastCheck is null %}
                                                <span class="badge text-bg-secondary">{% trans %}unavailable{% endtrans %}</span>
                                            {% else %}
                                                {{ website.getLastCheck|ago }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if website.getCertExpiryTime is null %}
                                                <span class="badge text-bg-secondary">{% trans %}unavailable{% endtrans %}</span>
                                            {% else %}
                                                {% if date('now') > website.getCertExpiryTime %}
                                                    <span class="badge text-bg-danger">{{ website.getCertExpiryTime|ago }}</span>
                                                {% else %}
                                                    {{ website.getCertExpiryTime|ago }}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
