{% extends 'base.html.twig' %}

{% block title %}{% trans %}user_settings_title{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_settings') }}
{% endblock %}

{% block body %}
    {% include('dashboard/_sidebar.html.twig') %}
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        {% include('dashboard/_navbar.html.twig') %}
        <div class="p-4">
            <h3>{% trans %}user_settings_title{% endtrans %}</h3>
            {% include('dashboard/_flash_messages.html.twig') %}
            <div class="row pt-3">
                <div class="col-md-3 mb-4">
                    <div class="list-group shadow-sm settings-list" id="user-settings-list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-general" data-bs-toggle="list" href="#general" role="tab" aria-controls="general">{% trans %}settings_general{% endtrans %}</a>
                        <a class="list-group-item list-group-item-action" id="list-change-password" data-bs-toggle="list" href="#change-password" role="tab" aria-controls="change-password">{% trans %}settings_change_password{% endtrans %}</a>
                        <a class="list-group-item list-group-item-action" id="list-delete-account" data-bs-toggle="list" href="#delete-account" role="tab" aria-controls="delete-account">{% trans %}settings_delete_account{% endtrans %}</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="list-general">
                            <div class="bg-white p-3 shadow-sm">
                                {{ form(form_general_settings) }}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="list-change-password">
                            <div class="bg-white p-3 shadow-sm">
                                {{ form(form_change_password) }}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="delete-account" role="tabpanel" aria-labelledby="list-delete-account">
                            <div class="bg-white p-3 shadow-sm">
                                {{ form(form_delete_user) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}